<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thread Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
<header class="transparent-border">
    <a href="/posts">
        <h1>LainVerse.net</h1>
    </a>
</header>

<main>
    <section class="thread">
        <div class="post-details">
            <h2 th:text="${post.title}"></h2>
            <span th:text="'ThreadID: ' + ${post.id}"></span>
        </div>
        <header>
            <div class="post-content">
                <img th:src="${post.imageURL}" alt="Thread Image" class="post-image small-image">
            </div>
            <p th:text="${post.messege}"></p>
        </header>
    </section>


    <div class="post-content">

        </div>

        <div class="reply-button">
            <a th:href="@{'#reply-section'}" class="button">Reply</a>
        </div>

    </section>

    <section id="reply-section">
        <h3>Replies</h3>
        <span th:text="ADD-REPLIES-HERE"></span>
    </section>

</main>
</body>

</html>
