
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Board</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <header class="transparent-border">
        <h1>LainVerse.net</h1>
</header>
<main>
    <section th:each="post : ${posts}" class="post">
        <header>
            <span th:text="${#temporals.format(post.getDateTime(), 'dd MMM yyyy, HH:mm')}+ 'ㅤ'"></span>
            <span th:text="' POST 0'+${post.getId()}" class="red-text"></span>
        </header>
        <div class="post-content">
            <img th:src="${post.getImageURL()}" alt="Image" class="post-image">
            <p th:text="${post.getMessege()}"></p>
        </div>
        <footer>
            <a th:href="@{'/posts/thread/' + ${post.getId()}}">
                <button class="reply-btn">Reply</button>
            </a>
        </footer>
    </section>
</main>

</body>
</html>
