body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}.red-text {
     color: red;
 }

body {
    font-family: Arial, sans-serif;
    background-color: #111111;
}

header {
    background-color: #111111;
    padding: 10px;
    border-bottom: 1px solid #222222;
    display: flex;
    align-items: center;
}
.transparent-border {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    background-color: rgba(68, 68, 68, 0.0);
}
header a {
    text-decoration: none;
    color: inherit;
}



header h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

header h1 a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

header h1 a:hover {
    background-color: #333333;
}

header .title-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #ffffff;
}


h1 {
    margin: 0;
    font-size: 24px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.post {
    position: relative;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;

    width: 200px;
    margin: 20px;
    padding: 10px;
    background-color: transparent;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    border: none;
    box-shadow: none;
    position: relative;

}
.reply-button {
    position: absolute;
    bottom: 650px;
    right: 100px;
}

.main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.post:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.post-details .post-id {
    color: rgb(106, 77, 177);
}




.post .post-image {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.normal-image {
    max-width: 40%;
    height: auto;
}

.post p {
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center;
}




.post header {
    font-size: 14px;
    background-color: transparent;
    color: #ffffff;
    margin-bottom: 5px;
}

.post .post-content {
    margin-left: 10px;
    color: #ffffff;

}
.post-content img {
    max-width: 100%;
    height: auto;
}
.post-message {
    color: white;
}


.post .post-image {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.post p {
    line-height: 1.5;
    margin-bottom: 10px;
}

.post footer .reply-btn {
    background-color: transparent;
    border: none;
    color: #789922;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.reply-button {
    text-align: center;
}
.post footer .reply-btn:hover {
    transform: scale(1.1);
}
.post footer .reply-btn {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.post footer .reply-btn:active {
    transform: scale(0.9);
}

.reply-btn {
    background-color: #4caf50;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;

}

.reply-btn:hover {
    background-color: #45a049;

}
.post-image.small-image {
    width: 400px;
}

.post-details {
    background-color: transparent;
}

.thread {
    background-color: #000;
}



.replies-container {
    margin-top: 20px;
}

.reply {
    border: 1px solid #ccc;
    padding: 30px;
    margin-bottom: 20px;
    max-width: 600px;
}

.reply-details span {
    color: rgb(106, 77, 177);
}
.post-image.small-image {
    width: 300px;
    height: auto;
}

.post-image.small-image.enlarged {
    width: auto;
    max-height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    cursor: zoom-out;
}

.reply-image.small-image {
    width: 200px;
    height: auto;
    margin-right: 100px;

}

.reply-image.small-image.enlarged {
    width: auto;
    max-height: 50vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    cursor: zoom-out;
}

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.middle-section h2 {
    margin-bottom: 10px;
}

.middle-section form {
    margin-top: 20px;  // adjust as necessary
display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-section textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
}



.submit-button {
    margin-top: 10px;
}

.create-thread-btn {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-thread-btn:hover {
    background-color: #252225;
}

.create-thread-btn:focus {
    outline: none;
}
#threadForm {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
.reply-button {
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #252225;
}

.button:focus {
    outline: none;
}

#replyForm {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}