body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}.red-text {
     color: red;
 }

body {
    font-family: Arial, sans-serif;
    background-color: #444444;
}

header {
    background-color: #444444;
    padding: 10px;
    border-bottom: 1px solid #222222;
    display: flex;
    align-items: center;
}


header h1 {
    color: #ffffff;
    font-size: 24px;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

header h1 a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

header h1 a:hover {
    background-color: #333333;
}

header .title-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #ffffff;
}


h1 {
    font-size: 24px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.post {
    width: 200px;
    margin: 20px;
    padding: 10px;
    background-color: #808080;
    float: left;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.post .post-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.post p {
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center;
}




.post header {
    font-size: 14px;
    color: #789922;
    margin-bottom: 5px;
}

.post .post-content {
    margin-left: 10px;
}
.post .post-image {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.post p {
    line-height: 1.5;
    margin-bottom: 10px;
}

.post footer .reply-btn {
    background-color: transparent;
    border: none;
    color: #789922;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.post footer .reply-btn:hover {
    transform: scale(1.1);
}

.post footer .reply-btn:active {
    transform: scale(0.9);
}

.reply-btn {
    background-color: #4caf50;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.reply-btn:hover {
    background-color: #45a049;
}
